*\.swp
selene-xilinx-vcu118/.cxl.questasim.g++.version
selene-xilinx-vcu118/.cxl.questasim.gcc.version
selene-xilinx-vcu118/.cxl.questasim.version
selene-xilinx-vcu118/alibs.do
selene-xilinx-vcu118/cds.lib
selene-xilinx-vcu118/compile.asim
selene-xilinx-vcu118/compile.dc
selene-xilinx-vcu118/compile.ncsim
selene-xilinx-vcu118/compile.rc
selene-xilinx-vcu118/compile.simv
selene-xilinx-vcu118/compile.synp
selene-xilinx-vcu118/compile.vsim
selene-xilinx-vcu118/compile.xst
selene-xilinx-vcu118/fmref.tcl
selene-xilinx-vcu118/ghdl.path
selene-xilinx-vcu118/hdl.var
selene-xilinx-vcu118/libs.do
selene-xilinx-vcu118/libs.txt
selene-xilinx-vcu118/log.txt
selene-xilinx-vcu118/make.asim
selene-xilinx-vcu118/make.asim-addfile
selene-xilinx-vcu118/make.ghdl
selene-xilinx-vcu118/make.ncsim
selene-xilinx-vcu118/make.riviera
selene-xilinx-vcu118/make.simv
selene-xilinx-vcu118/make.vsim
selene-xilinx-vcu118/make.work
selene-xilinx-vcu118/modelsim.ini
selene-xilinx-vcu118/modelsim.ini.bak
selene-xilinx-vcu118/modelsim/
selene-xilinx-vcu118/planahead/
selene-xilinx-vcu118/riviera_ws_create.do
selene-xilinx-vcu118/scriptgen_variable_values.tcl
selene-xilinx-vcu118/scriptgendone
selene-xilinx-vcu118/selene_soc.lct
selene-xilinx-vcu118/selene_soc.ldf
selene-xilinx-vcu118/selene_soc.npl
selene-xilinx-vcu118/selene_soc.rc
selene-xilinx-vcu118/selene_soc.syn
selene-xilinx-vcu118/selene_soc.xise
selene-xilinx-vcu118/selene_soc.xst
selene-xilinx-vcu118/selene_soc_dc.tcl
selene-xilinx-vcu118/selene_soc_designer.tcl
selene-xilinx-vcu118/selene_soc_designer_act.tcl
selene-xilinx-vcu118/selene_soc_files.prj
selene-xilinx-vcu118/selene_soc_ise.tcl
selene-xilinx-vcu118/selene_soc_nanoxmap.py
selene-xilinx-vcu118/selene_soc_nanoxpython.py
selene-xilinx-vcu118/selene_soc_precision.tcl
selene-xilinx-vcu118/selene_soc_precrun.tcl
selene-xilinx-vcu118/selene_soc_quartus.qpf
selene-xilinx-vcu118/selene_soc_quartus.qsf
selene-xilinx-vcu118/selene_soc_rtl_fpro.fl
selene-xilinx-vcu118/selene_soc_synplify.npl
selene-xilinx-vcu118/selene_soc_synplify.prj
selene-xilinx-vcu118/selene_soc_synplify.qpf
selene-xilinx-vcu118/selene_soc_synplify.qsf
selene-xilinx-vcu118/selene_soc_synplify_win32.npl
selene-xilinx-vcu118/selene_soc_win32.npl
selene-xilinx-vcu118/synopsys_sim.setup
selene-xilinx-vcu118/testbench.mpf
selene-xilinx-vcu118/transcript
selene-xilinx-vcu118/vcs_libs
selene-xilinx-vcu118/vivado/
selene-xilinx-vcu118/xilinx_lib/

